<md-dialog style="min-width:300px;">
    <form ng-submit="authenticate()">
        <md-dialog-content>
            <div>Enter username and password</div>
            <md-progress-linear md-mode="indeterminate" ng-show="loading"></md-progress-linear>
            <div ng-show="!!errText" style="color:red;">{{errText}}</div>
            <md-input-container style="margin-top:24px">
                <label>Username</label>
                <input type="text" ng-model="user.username" tabindex="1">
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input type="password" ng-model="user.password" tabindex="2">
            </md-input-container>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <md-button class="md-primary" tabinndex="3">Next</md-button>
        </div>
    </form>
</md-dialog>
