<md-dialog style="min-width:360px;">
    <form ng-submit="authenticate()">
        <md-dialog-content>
            <div>Enter username and password</div>
            <md-input-container>
                <label>Username</label>
                <input type="text" ng-model="user.username">
            </md-input-container>
            <md-input-container>
                <label>Username</label>
                <input type="password" ng-model="user.password">
            </md-input-container>
        </md-dialog-content>
        <div layout="row" class="md-actions" layout-align="end">
            <md-button class="md-primary" ng-click="authenticate()">Next</md-button>
        </div>
    </form>
</md-dialog>
