<html lang="en" ng-app="Cappuccino">

<head>
    <link rel="stylesheet" type="text/css" href="/bower_components/angular-material/angular-material.min.css">
    <meta name="viewport" content="initial-scale=1" />
    <style>
    body {
      background-image: url('/background/default.jpg');
      background-size: cover;
    }
    </style>
</head>

<body layout="column" ng-controller="AppCtrl">
    <div layout="row" layout-align="center center" layout-fill>
    <md-card flex="100" flex-gt-md="33">
        <md-card-content>
            <h3>Authenticate</h3>
            <form name="authenticateForm">
                <md-input-container md-no-float>
                    <input type="text" ng-model="user.username" placeholder="Username"></input>
                </md-input-container>
                <md-input-container md-no-float>
                    <input type="password" ng-model="user.password" placeholder="Password"></input>
                </md-input-container>
            </form>
        </md-card-content>
        <md-card-footer>
        <md-button href="#">Submit</md-button>        </md-card-footer>
    </md-card>
    </div>
    <!-- Angular Material Dependencies -->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-material/angular-material.js"></script>
    <script src="/js/index.js"></script>
    </script>
</body>

</html>
