<html lang="en" ng-app="Cappuccino">

<head>
    <link rel="stylesheet" href="/l/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/decor/cappuccino.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <meta name="viewport" content="initial-scale=1" />
    <base href="/">
</head>

<body layout="row" ng-controller="AppCtrl">
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
        <div class="profile-display" layout="column" layout-align="end start" ng-show="user">
            <div class="user-profile" layout="row" layout-align="center center">
                <div style="padding-left:10px">{{user.name}}</div>
                <span flex></span>
                <md-menu>
                    <md-button class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                        <md-icon aria-label="User preference" style="color:white" md-svg-icon="navigation:ic_expand_more_24px"></md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button ng-click="logout()">
                                <md-icon md-svg-icon="action:ic_settings_power_24px" md-menu-align-target></md-icon>
                                Logout
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
    </md-sidenav>
    <div layout="column" flex>
        <md-toolbar layout="row">
            <div class="md-toolbar-tools">
                <md-button ng-click="toggleSidenav('left')" class="md-icon-button">
                    <md-icon aria-label="Menu" md-svg-icon="navigation:ic_menu_24px" ng-show="{{!!title}}"></md-icon>
                </md-button>
                <h1>{{title}}</h1>
                <span flex></span>
            </div>
        </md-toolbar>
        <div class="view-container" flex>
            <div ng-view class="view">
            </div>
        </div>
    </div>
    <!-- Angular Material Dependencies -->
    <script src="/l/angular/angular.min.js"></script>
    <script src="/l/angular-animate/angular-animate.min.js"></script>
    <script src="/l/angular-aria/angular-aria.min.js"></script>
    <script src="/l/angular-material/angular-material.min.js"></script>
    <script src="/l/angular-route/angular-route.min.js"></script>
    <!-- Cappuccino Applications -->
    <script src="applications/cappuccino.js"></script>
</body>

</html>
