<html lang="en" ng-app="Cappuccino">

<head>
    <link rel="stylesheet" href="/l/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/decor/cappuccino.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <meta name="viewport" content="initial-scale=1" />
</head>

<body layout="row" ng-controller="AppCtrl">
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
        <div class="profile-display" layout="column" layout-align="end start" ng-show="user">
            <div class="user-profile" layout="row" layout-align="center center">
                <div style="padding-left:10px">{{user.name}}</div>
                <span flex></span>
                <md-menu>
                    <md-button class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                        <md-icon aria-label="User preference" style="color:white" md-svg-icon="navigation:ic_expand_more_24px"></md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button ng-click="logout()">
                                <md-icon md-svg-icon="action:ic_settings_power_24px" md-menu-align-target></md-icon>
                                Logout
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
    </md-sidenav>
    <div layout="column" flex>
        <md-toolbar layout="row">
            <div class="md-toolbar-tools">
                <md-button ng-click="toggleSidenav('left')" class="md-icon-button">
                    <md-icon aria-label="Menu" md-svg-icon="navigation:ic_menu_24px" ng-show="{{!!title}}"></md-icon>
                </md-button>
                <h1>{{title}}</h1>
                <span flex></span>
            </div>
        </md-toolbar>
        <div layout="row" flex>
            <div layout="column" flex id="content">
                <md-content layout="column" flex class="md-padding">
                    <h2>Welcome to Cappuccino</h2>
                    <p>A cappuccino (/ˌkæpəˈtʃiːnoʊ/; Italian pronunciation: [kapputˈtʃiːno]) is an Italian coffee drink which is traditionally prepared with espresso, hot milk and steamed milk foam.</p>
                    <p>Cream may be used instead of milk and is often topped with cinnamon.[1] It is typically smaller in volume than a caffe latte, with a thicker layer of micro foam.</p>
                    <p>The name comes from the Capuchin friars, referring to the colour of their habits,[2] and in this context referring to the colour of the beverage when milk is added in small portion to dark, brewed coffee (today mostly espresso). The physical appearance of a modern cappuccino with espresso créma and steamed milk is a result of a long evolution of the drink.</p>
                    <p>The Viennese bestowed the name "Kapuziner" possibly in the 18th century on a version that included whipped cream and spices of unknown origin. The Italian cappuccino was unknown until the 1930s, and seems to be born out of Viennese-style cafés in Trieste and other cities in the former Austria in the first decades of the 20th Century.</p>
                </md-content>
            </div>
        </div>
    </div>
    <!-- Angular Material Dependencies -->
    <script src="/l/angular/angular.min.js"></script>
    <script src="/l/angular-animate/angular-animate.min.js"></script>
    <script src="/l/angular-aria/angular-aria.min.js"></script>
    <script src="/l/angular-material/angular-material.min.js"></script>
    <!-- Cappuccino Applications -->
    <script src="applications/cappuccino.js"></script>
</body>

</html>
